* {margin: 0; padding:0; box-sizing: border-box; scroll-behavior: smooth;}
*{
    font-family: 'Playfair', serif;
}
/* logo */
#divlogo {
    background-color:#FFFBF2 ;
    text-align: center;
} 
.logo { height:100px;}
/* nav */
.nav  {background-color: #800020; color: #FFFBF2;}
/* slider */
#slider {
    display: grid; 
    grid-template-columns:8.5% 8.5% 21.5% 12.5% 12.5% 12.5% 12.5% 12.5% ; 
    grid-template-rows: auto auto auto auto ;
    background-color:#FFFBF2; 
    height: 600px;
}
#stylephoto {
    grid-column: 1/3; 
    grid-row: 1/5;
    height: 600px;
}

#slider h1 {
    grid-column: 3/6; 
    grid-row: 2/3; 
    font-size: 70px; 
    color: #800020;
}
#myphoto {
    grid-column: 5/7; 
    grid-row: 1/5; 
    height: 600px;
}
#slider div {
    color: #800020; 
    grid-column: 3/6; 
    grid-row: 3/4; 
    font-size: 30px;
}
/* about me */
#aboutme {
    background-color: #800020;
    padding: 200px 0px;
}
#aboutme div {
    color: #800020;
    background-color: #FFFBF2;
    width: 85%;
    text-align: center;
    margin: auto;
    padding:20px;
    border-radius: 20px;
    animation-duration: 3s;
    animation-name: slidein;}
      
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 9%;
          width: 85%;
        }
    }

    
    
#aboutme h2 {
    font-size: 50px;
}
#aboutme p {
  font-size:30px;
  width: 100%;
  }

/* experience */
#experience {
    height:auto;
    padding: 10px; 
    background-image: linear-gradient( #800020,#F5E7DA,#F5E7DA, #F5E7DA,#F5E7DA, #800020);
    background-size:cover ;
    padding-top: 70px;
}
#experience h2 {
    font-size: 60px;
    color:#FFFBF2 ;
    padding: 5px 42%;
}
#flex {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin:30px auto 0;
    flex-wrap: wrap;
    

}
.flex1 {
    background-color: #FFFBF2;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    color: #800020;
    border: #800020 10px solid ;
    width: 20%;
    box-shadow:15px 15px 15px;
    
}
#exp {
    background-color: #FFFBF2;
    border: #800020 10px solid ;
    padding:10px;
    color: #800020;
    width: 85%;
    margin: 20px auto 100px auto;
    font-size: 30px;
    text-align: center;
    box-shadow:15px 15px 15px;
}
 /* education */

#education {
    display: grid;
    grid-template-columns: 8.5% 11.5% 1.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% ;
    margin: auto;
    grid-template-rows: 60px 80px 60px 60px 60px 60px 60px 60px 60px 60px;
    padding: 4.5%;
}
#education img {
    grid-row: 1/span 10;
   max-width: 100%;
   grid-column:1/span 12 ;
   
}
#eduh{
    grid-column: 6/span 3;
    color: #800020;
    grid-row: 3/4;
    word-wrap: break-word;
}
#eduh h2{
        font-size: 60px; 
}
#edudiv{
    grid-column: 3/span 6;
    color: #800020;
    font-size: 30px;
    grid-row: 5/11;
    padding-left: 20px;
}

/* skills */
#skills{
    display: grid;
    grid-template-columns: 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 11.5% 5.5% 8.5% 8.5% 8.5% 8.5% ;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    
    
}
#skillimg {
    grid-column: 1/span 12;
    grid-row: 1/span 10;
}
#skillimg img {
    width: 98%;
    grid-column: 1/span 11;
    grid-row: 1/span 10;
}
#skillh {
    grid-column: 6/8;
    grid-row: 2/3;
    text-align: center;
    color:#FFFBF2;
}
#skillh h2{
    font-size: 60px;
    padding-right: 60px;


}
#skilldiv1 {
    color:#800020;
    grid-column: 3/6;
    grid-row: 3/span 7;
    font-size: 23px;
}
#skilldiv1 b {
    padding:0px 60px;
    font-size: 40px;
}
#skilldiv2 {
    color:#800020;
    grid-column: 8/span 4;
    grid-row: 3/span 7;
    font-size: 23px;
}
#skilldiv2 b {
    padding: 60px;
    font-size: 40px;
}

/* certificate */
#cer {
    background-color:#FFFBF2;
    height:720px;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 20px;
    grid-template-columns: 10.5% 8.5% 8.5% 8.5% 8.5% 8.5% 11.5% 5.5% 8.5% 8.5% 8.5% 6.5% ;

}
#img1{
    width: 40%;
    grid-column: 2/span 5; 
    grid-row: 4/ span 9;   
}
#img2{
    grid-column: 7/span 5;
    grid-row: 4/ span 9;
    width: 200px;
}
#img1 img{
    width: 550px;
    border: #800020 solid 10px;
      
}
#img2 img{
    width: 550px;
    border: #800020 solid 10px;
}
#cerh {
    color: #800020;
    font-size: 45px;
    grid-column: 5/span 3;
    grid-row: 2/ span 1;
    
}
#cerh h2 {
    font-size: 50px;
    padding-left: 100px;
}

/* languages */
#lang {
    height: 780px;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 20px;
    grid-template-columns: 10.5% 8.5% 8.5% 8.5% 8.5% 8.5% 11.5% 5.5% 8.5% 8.5% 8.5% 6.5% ;
}
#lang img {
    width: 98%;
    grid-column: 1/span 12;
    grid-row: 1/span 12;
}
#langh {
    color: #800020;
    grid-column: 7/span 2;
    grid-row: 2/3;
}
#langh h2 {
    font-size: 80px;
}

#langdiv {
    color: #800020;
    grid-column: 7/span 2;
    grid-row: 4/6;
    font-size: 50px;
}
#box1 {
    background-color: #800020;
    width: 200px;
    height: 30px;
    margin:  20px 0 0 0;
    grid-column: 9/12;
    grid-row: 4/6;
}
#box2 {
    background-color: #800020;
    width: 250px;
    height: 30px;
    margin: 35px 0 0 0 ;
    grid-column: 9/12;
    grid-row: 5/6;
}

/* project */
#pro {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px
      30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-columns: 4.25% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 4.25% ;
    background-color: #FFFBF2;
    padding-top: 60px;
}

#proh {
    color: #800020;
    grid-column:  6/9;
    grid-row:  1/3;
}
#proh h2 {
    font-size: 60px;

}
/* pro1 */
#pro1h {
    color: #800020;
    grid-column: 3/7;
    grid-row:  8/10;
}
#pro1h h3 {
    font-size: 50px;

}
#pro1img {
    grid-column:7/12;
    grid-row:  6/span 12;
   

}
#pro1img img {
    width: 600px;
    border: #800020 solid 1px;
    box-shadow:20px 20px 20px;
}
#pro1div {
    color: #800020;
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  10/ span 3;
}
#pro1l {
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  13/span 2;
}
#pro1l a {
    color: #800020;
    text-decoration: none;
}
#pro1l img {
    width: 220px;
}

/* pro2 */
#pro2h {
    color: #800020;
    grid-column: 3/7;
    grid-row:  22/span 2;
}
#pro2h h3 {
    font-size: 50px;

}
#pro2img {
    grid-column:7/12;
    grid-row:  20/span 12;
}
#pro2img img {
    width: 600px;
    border: #800020 solid 1px;
    box-shadow:20px 20px 20px;
}
#pro2div {
    color: #800020;
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  24/ span 3;
}
#pro2l {
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  27/span 2;
}
#pro2l a {
    color: #800020;
    text-decoration: none;
}
#pro2l img {
    width: 220px;
}

/* pro3 */
#pro3h {
    color: #800020;
    grid-column: 3/7;
    grid-row:  36/span 2;
}
#pro3h h3 {
    font-size: 50px;

}
#pro3img {
    grid-column:7/12;
    grid-row:  34/span 12;
}
#pro3img img {
    width: 600px;
    border: #800020 solid 1px;
    box-shadow:20px 20px 20px;
}
#pro3div {
    color: #800020;
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  38/ span 3;
}
#pro3l {
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  41/span 2;
}
#pro3l a {
    color: #800020;
    text-decoration: none;
}
#pro3l img {
    width: 220px;
}

/* pro4 */
#pro4h {
    color: #800020;
    grid-column: 3/7;
    grid-row:  50/span 2;
}
#pro4h h3 {
    font-size: 50px;

}
#pro4img {
    grid-column:7/12;
    grid-row:  48/span 12;
}
#pro4img img {
    width: 600px;
    border: #800020 solid 1px;
    box-shadow:20px 20px 20px;
}
#pro4div {
    color: #800020;
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  52/ span 3;
}
#pro4l {
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  55/span 2;
}
#pro4l a {
    color: #800020;
    text-decoration: none;
}
#pro4l img {
    width: 220px;
}

/* reference */
#ref {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30 30px 30px 30px 30px;
    grid-template-columns: 4.25% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 2.25% ;
    background-color: #FFFBF2;
    width: 85%;
    margin:100px auto ;
    background-color: #FFFBF2;
    border: #800020 solid 5px;
    box-shadow:20px 20px 20px;
    padding: 30px 0;
}
#refh1 {
    color: #800020;
    grid-column: 6/8;
    grid-row:  2/span 3;
    padding-bottom: 20px;
}
#refh1 h2{
    font-size: 60px;

}
#refh2 {
    color: #800020;
    font-size: 40px;
    grid-column: 3/7;
    grid-row:  8/span 2;
}
#refh2 h3{
    font-size: 40px;

}
#refimg {
    grid-column:9/12;
    grid-row:  8/span 12;
}
#refimg img {
    width: 300px;
    border: #800020 solid 5px; 
    height: 300px;
    border-radius: 50%
}
#refdiv {
    color: #800020;
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  11/ span 2;
}
#email {
    color: #800020;
    text-decoration: none;
    grid-column: 3/8;
    grid-row:  13/ span 2;
}
#email a {
    color: #800020;
    text-decoration: none;
    font-size: 30px;
    
}
#refl {
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  16/span 3;
}
#refl a {
    color: #800020;
    text-decoration: none;
}
#refl img {
    width: 115px;
}

/* FOOTER */
#footer {
    background-color: #800020;
    display: grid;
    max-width: 100%;
    grid-template-rows: 30px 30px 30px 30px 30px 100px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30 30px 30px 30px 30px;
    grid-template-columns: 4.25% 8.5% 4.5% 8.5% 11.5% 5.5% 5.5% 5.5% 5.5% 5.5% 8.5% 12.5% 2.25% 8.5%;
    
}
#flogo {
    grid-column: 1/ span 3;
    grid-row: 1/span 12;
}
#flogo img {
    width: 450px;
}

#fhead {
    color: #FFFBF2;
    grid-column: 6/ span 5 ;
    grid-row: 2/span 3; 
    padding: 15px;
}
#fhead h2 {
    font-size: 60px;

}
#emailrazan {
    grid-column: 6/ span 5 ;
    grid-row: 5/span 1; 
}
#emailrazan a {
    color:#FFFBF2;
    text-decoration: none;
    font-size: 30px;
}
#phone {
    grid-column: 6/ span 5 ;
    grid-row: 7/span 1; 
}
#phone a {
    color:#FFFBF2;
    text-decoration: none;
    font-size: 30px;
    padding-left: 80px;
}
#icon1 {
    grid-column: 6/ span 1;
    grid-row: 9/span 2;  
    padding-left: 50px;
}
#icon2 {
    grid-column: 7/ span 1;
    grid-row: 9/span 2;   
    padding-left: 50px;
}
#icon3 {
    grid-column: 8/ span 1;
    grid-row: 9/span 2;
    padding-left: 50px;   
}
#icon4 {
    grid-column: 9/ span 1;
    grid-row: 9/span 2;   
    padding-left: 50px;
}
#myphoto2 {
    grid-column: 11/ span 2;
    grid-row: 1/span 12;
}
#myphoto2 img {
    height: 375px;
    padding-left:50px ;
}

@media screen and (min-width: 1000px){
    .nav a:hover {
        background-color:brown !important;
        padding: 4px;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    #slider {
        grid-template-columns:12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ; 
        grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px  ;
    }
    #stylephoto {
        grid-column: 1/span 8; 
        grid-row: 1/5;
        width: 300px;
    }
    
    #slider h1 {
        grid-column: 3/8; 
        grid-row: 6/8; 
        font-size: 70px; 
        text-align: center;

    }
    #myphoto {
        grid-column: 5/8; 
        grid-row: 1/5; 
        height: 330px;
        border-radius: 50%;
        margin: 20px;
        
    }
    #slider div {
        grid-column: 3/8; 
        grid-row: 7/8; 
        font-size: 30px;
        text-align: center;
    }
    /* aboutme */
    #aboutme {
    padding: 50px 0px;
    }
    #aboutme h2 {
        font-size: 40px;
    }
    #aboutme p {
      font-size:20px;
      width: 100%;
    }
     /* exp */
     
    #experience h2 {
        font-size: 40px;
        padding: 5px 40%;
    }       
    
    .flex1 {
        width: 43%;
        margin: 3px 0;
    }
    #exp {
        font-size: 20px;
    }

    /* edu */
    #education {
        grid-template-rows: 40px 40px 40px 40px 40px 40px 40px ;
        padding: 0;
    }
    #education img {
       height: 400px;
    }
    #eduh{
        grid-column: 6/span 3;
        grid-row: 3/4;
        padding-left: 18px;
    }
    #eduh h2{
            font-size: 35px; 
    }
    #edudiv{
        grid-column: 3/span 6;
        font-size: 20px;
        grid-row: 4/8;
        padding:5px 0 0 20px;
    }
/* skills */
#skills{
    grid-template-rows: 30px 60px 60px 60px 60px 60px 60px 60px ;
   
}
#skillimg img {
    width: 98%;
    height: 500px;
   
}
#skillh h2{
    font-size: 40px;
    padding-right: 35px;


}
#skilldiv1 {
    grid-row: 3/span 7;
    font-size: 18px;
}
#skilldiv1 b {
    padding: 20px;
    font-size: 20px;
}
#skilldiv2 {
    grid-row: 3/span 7;
    font-size: 18px;
}
#skilldiv2 b {
    padding: 0 20px 20px 20px;
    font-size: 20px;
}

    /* certificate */
#cer {
    grid-template-rows: 10px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 20px;
    grid-template-columns: 100% ;
    row-gap: 5px;
}
#img1{
    width: 100%;
    grid-column: 1/2; 
    grid-row: 3/ span 6;  
    padding: 0 143px; 
}
#img2{
    grid-column: 1/2;
    grid-row: 8/ span 8;
    width: 100%;
    padding: 0 143px; 
}
#img1 img{
    width: 500px;
    height:300px;
   
}
#img2 img{
    width: 500px;
    height:300px;
}
#cerh {
    grid-column: 1/2;
    grid-row: 2/ span 1;
    
}
#cerh h2 {
    font-size: 50px;
    padding:0 143px;
    text-align: center;
}

/* languages */
#lang {
    height: 384px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 20px;
}

#langh {
    grid-column: 7/span 2;
    grid-row: 2/5;
}
#langh h2 {
    font-size: 40px;
}
#langdiv {
    grid-column: 7/span 2;
    grid-row: 4/6;
    font-size: 30px;
}
#box1 {
    width: 100px;
    height: 20px;
    margin: 15px 0px 0px 0px;
    grid-column: 9/12;
    grid-row: 4/6;
}
#box2 {
    width: 120px;
    height: 20px;
    margin: 0px 0px 20px 0px;
    grid-column: 9/12;
    grid-row: 6/7;
}

/* project */
#pro {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px
      30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-columns: 4.25% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 4.25% ;
    background-color: #FFFBF2;
    padding-top: 60px;
}

#proh {
    color: #800020;
    font-size: 50px;
    grid-column:  6/9;
    grid-row:  1/3;
}

/* pro1 */
#pro1h {
    color: #800020;
    font-size: 40px;
    grid-column: 3/7;
    grid-row:  8/10;
}
#pro1img {
    grid-column:7/12;
    grid-row:  6/span 12;
}
#pro1img img {
    width: 600px;
    border: #800020 solid 1px;
}
#pro1div {
    color: #800020;
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  10/ span 3;
}
#pro1l {
    font-size: 30px;
    grid-column: 3/7;
    grid-row:  13/span 2;
}
#pro1l a {
    color: #800020;
    text-decoration: none;
}
#pro1l img {
    width: 220px;
}



/* project */
#pro {
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

#proh h2 {
    font-size: 50px;

}
/* pro1 */
#pro1h {
    grid-row:  4/6;
}
#pro1h h3 {
    font-size: 40px;
}
#pro1img {
    grid-row:  4/span 7;
}
#pro1img img {
    width: 350px;
}
#pro1div {
    font-size: 20px;
    grid-row:  6/ span 3;
}
#pro1l {
    font-size: 15px;
    grid-row: 9 /span 2;
}
#pro1l img {
    width: 110px;
}

/* pro2 */
#pro2h {
    grid-row:  12/span 2;
}
#pro2h h3 {
    font-size: 40px;
}
#pro2img {
    grid-row:  12/span 8;
}
#pro2img img {
    width: 350px;
}
#pro2div {
    font-size: 20px;
    grid-row:  14/ span 3;
}
#pro2l {
    font-size: 15px;
    grid-row:  17/span 2;
}
#pro2l img {
    width: 110px;
}

/* pro3 */
#pro3h {
    grid-row: 20/span 2;
}
#pro3h h3 {
    font-size: 40px;
}
#pro3img {
    grid-row:  20/span 12;
}
#pro3img img {
    width: 350px;
}
#pro3div {
    font-size: 20px;
    grid-row:  22/ span 3;
}
#pro3l {
    font-size: 15px;
    grid-row:  25/span 2;
}
#pro3l img {
    width: 110px;
}

/* pro4 */
#pro4h {
    grid-row:  28/span 2;
}
#pro4h h3 {
    font-size: 40px;
}
#pro4img {
    grid-row:  28/span 12;
}
#pro4img img {
    width: 350px;
}
#pro4div {
    font-size: 20px;
    grid-row:  30/ span 3;
}
#pro4l {
    font-size: 15px;
    grid-row:  33/span 2;
}
#pro4l img {
    width: 110px;
}
 /* reference */
#ref {
    margin:50px auto ;
    padding: 5px 0;
}

#refh1 h2{
    font-size: 50px;
}
#refh2 {
    font-size: 30px;
}
#refh2 h3{
    font-size: 30px;
}
#refimg img {
    width: 200px;
    height: 200px;
}
#refdiv {
    font-size: 20px;
}
#email {
    grid-column: 3/9;
}
#email a {
    font-size: 20px;
}
#refl {
    font-size: 20px;
}
#refl img {
    width: 85px;
}
/* FOOTER */
#footer {
    background-color: #800020;
    display: grid;
    max-width: 100%;
    grid-template-rows: 30px 30px 30px 30px 30px 100px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30 30px 30px 30px 30px;
    grid-template-columns: 4.25% 8.5% 4.5% 8.5% 11.5% 5.5% 5.5% 5.5% 5.5% 5.5% 8.5% 12.5% 2.25% 8.5%;
    
}
#flogo {
    grid-column: 1/ span 3;
    grid-row: 1/span 12;
}
#flogo img {
    width: 200px;
}

#fhead {
    color: #FFFBF2;
    grid-column: 6/ span 7 ;
    grid-row: 2/span 3; 
    padding: 0px;
}
#fhead h2 {
    font-size: 40px;

}
#emailrazan {
    grid-column: 5/ span 5 ;
    padding-left: 70px;
    grid-row: 5/span 1; 
}
#emailrazan a {
    color:#FFFBF2;
    text-decoration: none;
    font-size: 20px;
}
#phone {
    grid-column: 6/ span 5 ;
    grid-row: 7/span 1; 
}
#phone a {
    color:#FFFBF2;
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
}
#icon1 {
    padding-left: 40px;
}
#icon2 {
    padding-left: 40px;
}
#icon3 {
    padding-left: 40px;
}
#icon4 {
    padding-left: 40px;
}
#icon1 img {
    width: 30px;
}
#icon2 img{
    width: 30px;
}
#icon3 img{
    width: 30px;
}
#icon4 img {
    width: 30px;
}
#myphoto2 {
    grid-column: 11/ span 2;
    grid-row: 1/span 12;
}
#myphoto2 img {
    height: 160px;
    padding-left:90px ;
}


}
@media screen and (max-width:480px){
    #slider {
        grid-template-columns:12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ; 
        grid-template-rows: 70px 70px 70px 70px 40px 40px 40px 40px 10px ;
        height: 480px;
    }
    #stylephoto {
        display: none;
    }
    
    #slider h1 {
        grid-column: 1/8; 
        grid-row: 6/8; 
        font-size: 40px; 
        text-align: center;

    }
    #myphoto {
        grid-column: 1/8; 
        grid-row: 1/5; 
        width: 100%;
        height:auto;
        border-radius: 50%;
        margin:5px 0 0 5px;
        background-color: #800020;
        
    }
    #slider div {
        grid-column: 1/8; 
        grid-row: 7/8; 
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
    /* aboutme */
    #aboutme {
    padding: 10px 0px;
    }
    #aboutme h2 {
        font-size: 30px;
    }
    #aboutme p {
      font-size:15px;
      width: 100%;
    }
     /* exp */
    #experience {
        padding: 0;
        height: 835px;
    }
    #experience h2 {
        font-size: 30px;
        padding: 30px 27% 0 27%;
    } 
    #flex {
        margin-top: 0;
    }      
    .flex1 {
        width: 90%;
        margin: 2px auto;
        box-shadow:5px 5px 5px;

    }
    #flex div{
        font-size: 15px;
        border: #800020 solid 2px;
    }
    #exp {
        border: #800020 2px solid ;
        padding:10px;
        width: 76%;
        margin: auto;
        font-size: 15px;
        box-shadow:5px 5px 5px;

    }

    /* edu */
    #education {
        grid-template-rows: 40px 40px 40px 40px 40px 40px 40px ;
        padding: 0;
    }
    #education img {
       height: 300px;
    }
    #eduh{
        grid-column: 6/span 4;
        grid-row: 3/4;
        padding-left: 0px;
        padding-top: 10px;
    }
    #eduh h2{
            font-size: 20px; 
    }
    #edudiv{
        grid-column: 3/span 8;
        font-size: 10px;
        grid-row: 4/8;
        padding:0px;
    }
/* skills */
#skills{
    grid-template-rows: 30px 60px 60px 60px 60px 60px 60px 60px ;
   max-height: 370px;
}
#skillimg img {
    width: 98%;
    height: 370px;
   
}
#skillh h2{
    font-size: 20px;
    padding-right: 35px;


}
#skilldiv1 {
    grid-row: 3/span 7;
    font-size: 10px;
}
#skilldiv1 b {
    padding: 0px;
    font-size: 15px;
}
#skilldiv2 {
    grid-row: 3/span 7;
    font-size: 10px;
}
#skilldiv2 b {
    padding:0;
    font-size: 15px;
}

    /* certificate */
#cer {
    grid-template-rows: 10px 30px 60px 60px 60px 60px 20px 60px ;
    grid-template-columns: 100% ;
    gap: 0;
}
#img1{
    width: 100%;
    grid-column: 1/2; 
    grid-row: 3/ span 6;  
    padding: 0 30px;
    height: 250px;
}
#img2{
    grid-column: 1/2;
    grid-row: 8/ span 8;
    width: 100%;
    padding: 0 30px; 
    height: 250px;

}
#img1 img{
    width: 250px;
    height:250px;
    border: #800020 solid 2px;

}
#img2 img{
    width: 250px;
    height:250px;
    border: #800020 solid 2px;
}
#cerh {
    grid-column: 1/2;
    grid-row: 2/ span 1;
    
}
#cerh h2 {
    font-size: 25px;
    padding:0 30px;
    text-align: center;
}

/* languages */
#lang {
    height: 160px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
}

#langh {
    grid-column: 7/span 2;
    grid-row: 1/5;
}
#langh h2 {
    font-size: 20px;
}
#langdiv {
    grid-column: 8/span 2;
    grid-row: 2/6;
    font-size: 15px;
}
#box1 {
   display: none;
}
#box2 {
    display: none;
}
   

/* project */
#pro {
    padding: 20px;
    grid-template-rows: 30px 30px 30px 30px 30px 10px 30px 30px 30px 10px 30px 30px 30px 10px 30px 30px 30px 10px;
}

#proh h2 {
    font-size: 25px;

}
/* pro1 */
#pro1h {
    grid-row:  3/4;
    grid-column: 1/span 5;
}
#pro1h h3 {
    font-size:20px;
}
#pro1img {
    grid-row:  3/span 7;
    grid-column: 7/span 5;

}
#pro1img img {
    width: 150px;
    box-shadow:5px 5px 5px;

}
#pro1div {
    font-size: 10px;
    grid-row:  4/ span 2;
    grid-column: 1/span 6;

}
#pro1l {
    font-size: 8px;
    grid-row: 5/span 2;
    grid-column: 1/span 5;

}
#pro1l img {
    width: 70px;
}

/* pro2 */
#pro2h {
    grid-row:  7/span 1;
    grid-column: 1/span 5;
}
#pro2h h3 {
    font-size:20px;
}
#pro2img {
    grid-row:  7/span 7;
    grid-column: 7/span 5;

}
#pro2img img {
    width: 150px;
    box-shadow:5px 5px 5px;

}
#pro2div {
    font-size: 10px;
    grid-row:  8/ span 2;
    grid-column: 1/span 6;

}
#pro2l {
    font-size: 8px;
    grid-row: 9/span 2;
    grid-column: 1/span 5;

}
#pro2l img {
    width: 70px;
}
/* pro3 */
#pro3h {
    grid-row:  11/span 1;
    grid-column: 1/span 5;
}
#pro3h h3 {
    font-size:20px;
}
#pro3img {
    grid-row:  11/span 7;
    grid-column: 7/span 5;

}
#pro3img img {
    width: 150px;
    box-shadow:5px 5px 5px;

}
#pro3div {
    font-size: 10px;
    grid-row:  12/ span 2;
    grid-column: 1/span 6;

}
#pro3l {
    font-size: 8px;
    grid-row: 13/span 2;
    grid-column: 1/span 5;

}
#pro3l img {
    width: 70px;
}

/* pro4 */
#pro4h {
    grid-row:  15/span 1;
    grid-column: 1/span 5;
}
#pro4h h3 {
    font-size:20px;
}
#pro4img {
    grid-row:  15/span 7;
    grid-column: 7/span 5;

}
#pro4img img {
    width: 150px;
    box-shadow:5px 5px 5px;

}
#pro4div {
    font-size: 10px;
    grid-row:  16/ span 2;
    grid-column: 1/span 6;

}
#pro4l {
    font-size: 8px;
    grid-row: 17/span 2;
    grid-column: 1/span 5;

}
#pro4l img {
    width: 70px;
}

 /* reference */
#ref {
    margin:20px auto ;
    box-shadow:5px 5px 5px;
border: #800020 solid 3px;
    padding: 5px 0;
    width: 95%;
    grid-template-rows: 30px 30px 10px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30 30px 30px 30px 30px;

}
#refh1{
    grid-column: 5/span 7;
    padding: 0;
}
#refh2{
    grid-column: 2/span 7;
}
#refh1 h2{
    font-size: 30px;
}
#refh2 h3{
    font-size: 20px;
}
#refimg img {
    width: 100px;
    height: 100px;
    border: #800020 solid 2px;

}
#refimg {
    grid-column: 9/span 7;
}
#refdiv {
    font-size: 13px;0
    grid-column: 2/span 7;
}
#email {
    grid-column: 2/span 7;

}
#email a {
    font-size: 10px;
    
}
#refl {
    font-size: 10px;
    grid-column: 2/span 7;
    

}
#refl img {
    width: 50px;
}
/* FOOTER */
#footer {
    background-color: #800020;
    display: grid;
    max-width: 100%;
    grid-template-rows: 10px 10px 10px 20px 10px 10px 10px 10px 20px ;
    grid-template-columns: 4.25% 8.5% 4.5% 8.5% 11.5% 5.5% 5.5% 5.5% 5.5% 5.5% 8.5% 12.5% 2.25% 8.5%;
    
}
#flogo {
    grid-column: 1/ span 3;
    grid-row: 2/span 9;
}
#flogo img {
    width: 100px;
}

#fhead {
    color: #FFFBF2;
    grid-column: 6/ span 9 ;
    grid-row: 2/span 3; 
    padding: 0px;
}
#fhead h2 {
    font-size: 20px;

}
#emailrazan {
    grid-column: 5/ span 5 ;
    padding-left: 20px;
    grid-row: 4/span 1; 
}
#emailrazan a {
    color:#FFFBF2;
    text-decoration: none;
    font-size: 12px;
}
#phone {
    grid-column: 6/ span 5 ;
    grid-row: 5/span 1; 
}
#phone a {
    color:#FFFBF2;
    text-decoration: none;
    font-size: 12px;
    padding-left: 20px;
}
#icon1 {
    padding-left: 20px;
    grid-row: 7/8;
}
#icon2 {
    padding-left: 25px;
    grid-row: 7/8;

}
#icon3 {
    padding-left: 30px;
    grid-row: 7/8;

}
#icon4 {
    padding-left: 35px;
    grid-row: 7/8;

}
#icon1 img {
    width: 20px;
}
#icon2 img{
    width: 20px;
}
#icon3 img{
    width: 20px;
}
#icon4 img {
    width: 20px;
}
#myphoto2 {
    display: none;
}
}